{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.prompt }}</h1>

  <form action="/answer" method="POST">
    {% for choice in question.choices %}
      <!-- you should have one item like this for every choice -->
      <!-- iterate through questions using jinja to create list -->
      <p>
        <input
            type="radio"
            name="answer"
            value="{{ choice }}">
        {{ choice }}
        <input type="hidden" name="question-id" value="{{ question_num }}">
      </p>
    {% endfor %}
    <button>Continue</button>
  </form>

{% endblock %}
